*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --celeste: #92b4ec;
    --blanco: #ffffff;
    --light-yellon: #ffe69a;
    --yellon: #ffd24c;
}

@media (min-width: 320px) {

    .nav {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        gap: 20px;
        align-items: center;
        width: 100%;
        flex-direction: column;

    }

    .logo {

        display: flex;
        align-items: center;
    }

    .img_logo {
        height: 10vh;
        width: 10vh;
        display: flex;
    }

    .navbar {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    .navbar a {
        text-align: center;
        justify-content: center;
    }

    .a {
        display: flex;
        background: var(--light-yellon);
        text-decoration: none;
        color: aliceblue;
        border: 1px solid;
        border-radius: 10%;
    }

    .a:hover {
        background: var(--celeste);
        border: 1px solid var(--blanco);
    }
    body{
        background-color: var(--yellon);
        
    }

    .header {
        height: 50em;
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .hockey1, .hockey2, .hockey3 {
        height: 100%;
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .title, h1, .title_main {
        display: flex;
        align-content: center;
        justify-content: center;
        color: var(--blanco);
        position: relative;
        top: -100px;
        text-align: center;
        font-size: 40px;
    }

    .subtitle, .paragraph {
        display: flex;
        text-align: center;
        justify-content: center;

    }

    .subtitle_main {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 20px;
        color: var(--blanco);

    }

    .paragraph_main {
        display: flex;
        font-size: 20px;
    }

    .main {
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 20px;
        line-height: 2;
        flex-direction: column;
    }

    .first_last {
        display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    }

    .address {
        display: flex;
        text-align: cente;
        justify-content:center;
        flex-wrap: wrap;

    }

    .city_zip {
        display: flex;
        text-align: center;
        justify-content:center;
        flex-wrap: wrap;
    }
    .birth_gender {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    h3 {
        margin: 20px
    }

    .section, .article {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        font-size: 10px;
        background-color: var(--light-yellon);
    }

    .h2_article {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .mail {
        display: flex;
        justify-content: end;
    }

    .table {
        display: flex;
        justify-content: center;
        text-align: center;

    }

    .td, .tr {

        text-align: center;
        height: 100px;
        width: 300px;
        border: 2px solid;
    }

    a {
        text-decoration: none;
    }

    .maps1 {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .maps {
        border: 1px solid;

    }

    footer {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 10px;
        background: var(--celeste);
        text-shadow: 3px 2px 3px var(--blanco);
        gap: 10px;
        color: var(--light-yellon);
        height: 40px;
        align-items: center;
    }

    .social {
        display: flex;
        justify-content: center;
        color: var(--yellon);
        text-decoration: none;
        border-radius: 50%;
        background: var(--blanco);
    }

    .social:hover {
        color: var(--light-yellon);
        animation: social 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }

    .footer {
        display: flex;
        gap: 10px;
        justify-content: center;
        bottom: 0;
    }

    form, input, label, select, option {
        font-size: 20px;
        margin: 10px
    }

    .button {
        font-size: 30px;
        justify-content: center;
        display: flex;
        text-align: center;
        height: 30px;
    }

    .button>button {
        width: 150px;
        background-color: var(--celeste);
        border-radius: 10%;
        text-align: center;
        justify-content: center;
        font-size: 20px;
    }

    button:hover {
        background-color:var(--light-yellon);
        cursor: pointer;
        border: 2px solid #FFFFFF;
    }

}

@media(min-width: 576px) {

    .nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}
@media(min-width: 768px){

    .first_last, .address, .city_zip, .birth_gender, .school{
        display: flex;
        text-align: center;
        justify-content: start;
        align-items: center;
  
        flex-wrap: wrap;
    }
    
    .item{
        display: flex;
        justify-content: end;
        align-items: center;
        text-align: center;
        
    }
    .conter{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}
@media(min-width: 992px){
    .first_last, .address, .city_zip, .birth_gender, .school, .conter, .item, .grade{
        display: flex;
        text-align: center;
        justify-content: start;
        align-items: center;
  
        flex-wrap: wrap;
    }
   
}